.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color5);
  box-shadow: 2px 2px 2px var(--color1);
  max-height: 124px;
}

.logo {
  display: flex;
  align-items: center;
  padding: var(--main-padding);
  color: var(--color1);
  width: 33%;
}

.exchangeIcon {
  width: 32px;
  height: 32px;
}

.logo p {
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
}

.rateCouples {
  display: flex;
  width: 50%;
  padding: var(--main-padding) 0;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flag {
  padding: var(--main-padding);
}
