* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

:root {
  --color-white: #ffffff;
  --color1: #185ADB;
  --color2: #80b3ba;
  --color3: #EEEEEE;
  --color4: #263d45;
  --main-size: 6px;
  --small-size: 3px;
  --large-size: 12px;
  --font-size-100: 14px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 24px;
  --font-size-500: 32px;
  --font-size-600: 36px;
}